DB_NAME_POSTGRES=schedule_meeting
DB_USER=
DB_PASSWORD=
DB_HOST_POST=postgres-db
REDIS_HOST=redis-cache
REDIS_PASS=
APP_EMAIL=
APP_EMAIL_PASSWORD=
JWT_SECRET_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=